# ──────────────────────────────────────────────────────────────
# Staging Environment — Example Variables
# Copy this file to terraform.tfvars and fill in real values
# NEVER commit terraform.tfvars — only this example file....
# ──────────────────────────────────────────────────────────────

environment    = "staging"
environment_code  = "stg"
aws_region     = "region"
aws_account_id = "YOUR_AWS_ACCOUNT_ID"

github_org        = "spring-petclinic-Group-4-DMI"
project_code      = "spc"
environment_code  = "stg"
region_code       = "ue1"
repository_prefix = "spring-petclinic"
cluster_name      = "spc-stg-ue1-eks-main"

secret_component      = "app"
secret_resource_name  = "secret"
secret_resource_count = "01"
secret_description    = "Application secrets for staging environment"
create_secret_version = true
kms_key_id            = null

mysql_username = "YOUR_DB_USERNAME"
mysql_password = "YOUR_STRONG_PASSWORD"
db_name        = "petclinic"

db_instance_class    = "db.t3.micro"
db_allocated_storage = 20

openai_api_key = "YOUR_OPENAI_API_KEY"

domain_name      = "YOUR_DOMAIN_NAME"
staging_alb_name = "spc-stg-ue1-alb-external"
acm_certificate_arn         = ""
existing_acm_certificate_arn = ""
route53_zone_id             = ""

app_namespace               = "petclinic"
api_gateway_service_name    = "api-gateway"
api_gateway_service_port    = 8080
lb_controller_chart_version = "1.7.1"

prod_alb_name       = "spc-prod-ue1-alb-external"
create_prod_records = false
default_tags        = {}

additional_secret_values = {}
